:root { 
--white_A700_d1:#ffffffd1; 
--white_A700_7e:#ffffff7e; 
--light_blue_300:#5ed6ff; 
--blue_A700:#0056ff; 
--gray_900_11:#29292a11; 
--black_900_d1:#000000d1; 
--indigo_200_01:#9cb0da; 
--blue_A700_01:#1f64ef; 
--green_400:#3fd77c; 
--pink_A200:#ff3a97; 
--blue_gray_800_02:#303762; 
--black_900:#000000; 
--yellow_900:#ff6f1e; 
--blue_gray_800:#304062; 
--red_A400:#fc244d; 
--blue_gray_900_02:#262f3e; 
--blue_gray_700:#3c5585; 
--blue_gray_900_01:#222e45; 
--pink_800:#af3a61; 
--blue_gray_900:#001f47; 
--gray_600:#828282; 
--gray_900_02:#18191f; 
--blue_gray_200:#a1abc0; 
--gray_500:#a6a6a6; 
--blue_gray_300:#969bab; 
--pink_A200_02:#ff4571; 
--gray_900:#101826; 
--gray_900_01:#192133; 
--pink_A200_01:#ff4572; 
--blue_gray_900_03:#202833; 
--orange_500:#ff9902; 
--blue_gray_800_01:#2f4661; 
--gray_300:#d9dbe1; 
--white_A700_87:#ffffff87; 
--white_A700_00:#ffffff00; 
--indigo_200:#9cb0d9; 
--gray_900_7f:#29292a7f; 
--indigo_900:#002677; 
--indigo_700:#30379f; 
--white_A700:#ffffff; 
--cyan_400:#2ec5ce; 
}